@model Catalog.Models.BrandViewModel

@using (Html.BeginForm("Delete", "Brand", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h3>Are you sure you want to delete <mark>@Html.DisplayFor(model => model.Name)</mark>?</h3>
    @Html.HiddenFor(model => model.Id)
}
